#particles-js {
    height: 100%;
    height: 100vh;

    background: #762BC1;
}

<!-- Adamas Regular Font -->
<!--
@font-face {
	font-family: 'adamasRegular';
	src: url('Adamas-Regular.otf');
}
-->

.minhoo-header {
	position: absolute;
	left: 300px;
	top: 300px;
	font-family: 'Open Sans', sans-serif;
	font-size: 150px;
	font-style: bold;
	text-shadow: 4px 4px 4px #333;
	font-weight: 700;
	color: #FFFFFF;
}